//
// Forms
// --------------------------------------------------

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}

form {
	.second,
	.half,
	.full,
	.different {
		float: left;
		.form-error {
			margin-top: -10px;
		}
	}
	.second {
		margin-left: 20px;
	}
	.half {
		width: calc((100% - 20px) / 2);
	}
	.full {
		width: 100%;
	}
	.different {
		width: 75%;
		&.second {
			width: calc(25% - 20px);
		}
	}
	small {
		padding: 5px 7px;
	}
}

input.textbox {
	background: $white;
	border: 1px solid $black;
	display: block;
	font-family: $font-family-serif;
	height: 30px;
	margin-bottom: 10px;
	line-height: 30px;
	padding: 0 7px;
	text-transform: uppercase;
	width: 100%;
	&.error {
		border: 1px solid $magenta;
	}
}

textarea {
	background: white;
	border: 1px solid $black;
	font-family: $font-family-serif;
	display: block;
	float: left;
	height: 190px;
	margin-bottom: 10px;
	padding: 7px;
	width: 100%;
	text-transform: uppercase;
	&.error {
		border: 1px solid $magenta;
	}
}
button[type="submit"] {
	display: block;
	float: right;
	width: 110px;
	height: 28px;
	font-size: 15px;
	line-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-family-serif;
	text-align: center;
	margin-left: 1px;
	white-space: nowrap;
	font-weight: normal;
	border: none;
}

.form-error,
.form-success {
	display: none;
	float: left;
	font-size: 12px;
	padding: 5px 7px;
	width: 100%;
}

.form-loader {
	display: none;
	@include background(image-url("square-loader.svg"));
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	width: 100%;
}

.stage.white {
	button[type="submit"] {
		color: $white;
		background: $black;
	}
	.form-error {
		color: $magenta;
	}
	.form-success {
		color: $blue;
	}
}
.stage.black {
	input.textbox {
		color: $black;
	}
	button[type="submit"] {
		color: $black;
		background: $white;
	}
	.form-error {
		color: $magenta;
	}
	.form-success {
		color: $blue;
	}
}