//
// Scaffolding
// --------------------------------------------------


*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.clearfix {
	@include clearfix;
}

body, html {
	color: $text-color;
	background-color: $body-bg;
	font-family: $font-family-base;
	font-size: $font-size-base;
	-moz-osx-font-smoothing: grayscale;
	line-height: $line-height-base;
	height: 100%;
}

.wrapper {
	a {
		text-decoration: none;
		position: relative;
		font-weight: bold;

		&:after {
			content: 'Processing';
			color: transparent;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0px;
			border-bottom: 1px solid $black;
		}
	}
	&.white a {
		color: $black;
		&:after {
			border-bottom: 1px solid $black;
		}
	}

	&.black a {
		color: $white;
		&:after {
			border-bottom: 1px solid $white;
		}
	}
}

ul, ol {
	list-style: none;
}

p {
	margin-bottom: 1em;
}

#global-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}